.RichEditor-root {

  opacity: 0.9;
  font-family: 'Georgia', serif;
  font-size: 14px;
  padding: 0 10%;
  height: 100%;
  display: flex;
  flex-direction: column;
 
}

@media only screen and (max-width: 1000px) {
  .RichEditor-root {
    padding: 15px;
  }
}
  
.RichEditor-editor {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 0 15px rgb(1, 1, 20);
  border-top: 1px solid #ddd;
  cursor: text;
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 20px;


}

  
.RichEditor-editor .public-DraftEditor-content {
  min-height: 150px;
}

.RichEditor-hidePlaceholder .public-DraftEditorPlaceholder-root {
  display: none;
}

.RichEditor-editor .RichEditor-blockquote {
  border-left: 5px solid #eee;
  color: #666;
  font-family: 'Hoefler Text', 'Georgia', serif;
  font-style: italic;
  margin: 16px 0;
  padding: 10px 20px;
}

.RichEditor-editor .public-DraftStyleDefault-pre {
  background-color: rgba(0, 0, 0, 0.05);
  font-family: 'Inconsolata', 'Menlo', 'Consolas', monospace;
  font-size: 16px;
  padding: 20px;
}

.RichEditor-controls {

  font-family: 'Helvetica', sans-serif;
  font-size: 14px;
  margin-bottom: 5px;
  user-select: none;
}

.draft-data-view code {
  overflow: auto;
  color: lightgreen;
  overflow-wrap:break-all;
  line-height: 2;
}

.draft-data-view {
  overflow: auto;
  height: 40%;
  background-color: rgb(1, 8, 46);
  border-radius: 10px;
  box-shadow: 0 0 15px rgb(1, 1, 20);
  overflow-wrap:break-all;
}

.code-heading {
  color: lightgreen;

}

.RichEditor-controls-panel {
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 0 15px rgb(1, 1, 20);
  padding: 20px;
}

.RichEditor-styleButton {
  color: #999;
  cursor: pointer;
  margin-right: 16px;
  padding: 2px 0;
  display: inline-block;
}

.RichEditor-activeButton {
  color: #5890ff;
}

.RichEditor-editor {
  color: #495057;
}
.RichEditor-editor p, .RichEditor-editor span {
  color: #495057;
}