.video-responsive {
    margin-top: 15px;
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
  }
  
.video-responsive iframe {
    left: 0;
    top: 0;
    position: absolute;
    width: 70%;
    height: 70%;
}